.cardProducto {
    background-color: #EEEEEE;
    border-radius: 10px;
    width: 11rem; 
    padding: 1.2rem;
    margin: 0.75rem; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgProducto {
    width: 150px;
    object-fit: contain;
}

.btnProducto {
    background-color: lightgray;
    color: black;
    font-family: montserrat;
    font-size: 1rem;
    font-weight: bold;
    width: 8rem;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    display: flex; 
    justify-content: center; 
    align-items: center;
    text-decoration: none;
}

.btnProducto:hover {
    background-color: #48cae4;
    color: white;
    text-decoration: none;
}
