.checkout-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.form-style {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}


label {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.checkout-form {
    
    width: 100%;
    padding: 20rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 2rem;
}

.checkout-form div {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.checkout-form label {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.checkout-form input,
.checkout-form textarea {
    padding: 2rem;
    font-size: 3rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.checkout-form button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.checkout-form button:hover {
    background-color: #0056b3;
}

.checkout-form p.error-message {
    color: red;
    margin-top: 1rem;
}
