button {
    background-color: lightgray;
    color: black;
    font-family: montserrat;
    font-size: 0.9rem;
    font-weight: bold;
    width: 8rem;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    display: flex; 
    justify-content: center; 
    align-items: center;
    text-decoration: none;  
}

